.background {
    background-color: #14181c;
    min-height: 100vh;

    background-image:
        radial-gradient(circle at center,
            #3b4652 0%,
            #2e3740 35%,
            #1f262d 65%,
            #14181c 100%);
}